In [37]:
import pandas as pd

# Đọc dữ liệu từ tệp banking.csv
data = pd.read_csv('banking.csv')

dict_month = {'jan' : 1, 'feb' : 2, 'mar' : 3, 'apr' : 4, 'may' : 5, 'jun' : 6,
             'jul' : 7, 'aug' : 8, 'sep' : 9, 'oct' : 10, 'nov' : 11, 'dec' : 12}
data['month'] = data['month'].map(dict_month)
#default :
data.default.replace({'no' : 0, 'yes' : 1, 'unknown' : 2}, inplace = True)
#housing :
data.housing.replace({'no' : 0, 'yes' : 1, 'unknown' : 2}, inplace = True)
#loan :
data.loan.replace({'no' : 0, 'yes' : 1, 'unknown' : 2}, inplace = True)
#contact
marital_dummies = pd.get_dummies(data['marital'], prefix = 'marital')
marital_dummies.drop('marital_divorced', axis=1, inplace=True)
data = pd.concat([data, marital_dummies], axis=1)
job_dummies = pd.get_dummies(data['job'], prefix = 'job')
job_dummies.drop('job_unknown', axis=1, inplace=True)
data= pd.concat([data, job_dummies], axis=1)
education_dummies = pd.get_dummies(data['education'], prefix = 'education')
education_dummies.drop('education_unknown', axis=1, inplace=True)
data = pd.concat([data, education_dummies], axis=1)
contact_dummies = pd.get_dummies(data['contact'], prefix = 'contact')
#contact_dummies.drop('contact_unknown', axis=1, inplace=True)
data = pd.concat([data, contact_dummies], axis=1)
poutcome_dummies = pd.get_dummies(data['poutcome'], prefix = 'poutcome')
#poutcome_dummies.drop('poutcome_unknown', axis=1, inplace=True)
data = pd.concat([data, poutcome_dummies], axis=1)
data['pdays'] = data['pdays'].apply(lambda row: 0 if row == -1 else 1)
data.drop(['job', 'education', 'marital', 'contact', 'poutcome'], axis=1,inplace=True)
dict_day = {'sun' : 1, 'mon' : 2, 'tue' : 3, 'wed' : 4, 'thu' : 5, 'fri' : 6,
             'sat' : 7}
data['day_of_week'] = data['day_of_week'].map(dict_day)
condition = data.columns.get_loc('education_basic.9y')
data.iloc[:, condition:] = data.iloc[:, condition:].applymap(lambda x: 1 if x else 0)
data

C:\Users\chuho\AppData\Local\Temp\ipykernel_9764\190649179.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data.default.replace({'no' : 0, 'yes' : 1, 'unknown' : 2}, inplace = True)
C:\Users\chuho\AppData\Local\Temp\ipykernel_9764\190649179.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data.default.replace({'no' : 0, 'yes' : 1, 'unknown' : 2}, inplace = True)
C:\Users\chuho\AppData\Local\Temp\ipykernel_9764\190649179.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data.housing.replace({'no' : 0, 'yes' : 1, 'unknown' : 2}, inplace = True)
C:\Users\chuho\AppData\Local\Temp\ipykernel_9764\190649179.py:12: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data.housing.replace({'no' : 0, 'yes' : 1, 'unknown' : 2}, inplace = True)
C:\Users\chuho\AppData\Local\Temp\ipykernel_9764\190649179.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data.loan.replace({'no' : 0, 'yes' : 1, 'unknown' : 2}, inplace = True)
C:\Users\chuho\AppData\Local\Temp\ipykernel_9764\190649179.py:14: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data.loan.replace({'no' : 0, 'yes' : 1, 'unknown' : 2}, inplace = True)
C:\Users\chuho\AppData\Local\Temp\ipykernel_9764\190649179.py:37: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data.iloc[:, condition:] = data.iloc[:, condition:].applymap(lambda x: 1 if x else 0)
C:\Users\chuho\AppData\Local\Temp\ipykernel_9764\190649179.py:37: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        0
1        0
2        0
3        0
4        0
        ..
41183    0
41184    0
41185    0
41186    0
41187    0
Name: education_basic.9y, Length: 41188, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  data.iloc[:, condition:] = data.iloc[:, condition:].applymap(lambda x: 1 if x else 0)
C:\Users\chuho\AppData\Local\Temp\ipykernel_9764\190649179.py:37: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        0
1        0
2        0
3        1
4        0
        ..
41183    1
41184    0
41185    0
41186    0
41187    1
Name: education_high.school, Length: 41188, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  data.iloc[:, condition:] = data.iloc[:, condition:].applymap(lambda x: 1 if x else 0)
C:\Users\chuho\AppData\Local\Temp\ipykernel_9764\190649179.py:37: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        0
1        0
2        0
3        0
4        0
        ..
41183    0
41184    0
41185    0
41186    0
41187    0
Name: education_illiterate, Length: 41188, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  data.iloc[:, condition:] = data.iloc[:, condition:].applymap(lambda x: 1 if x else 0)
C:\Users\chuho\AppData\Local\Temp\ipykernel_9764\190649179.py:37: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        0
1        0
2        0
3        0
4        0
        ..
41183    0
41184    0
41185    0
41186    1
41187    0
Name: education_professional.course, Length: 41188, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  data.iloc[:, condition:] = data.iloc[:, condition:].applymap(lambda x: 1 if x else 0)
C:\Users\chuho\AppData\Local\Temp\ipykernel_9764\190649179.py:37: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        0
1        0
2        1
3        0
4        0
        ..
41183    0
41184    0
41185    1
41186    0
41187    0
Name: education_university.degree, Length: 41188, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  data.iloc[:, condition:] = data.iloc[:, condition:].applymap(lambda x: 1 if x else 0)
C:\Users\chuho\AppData\Local\Temp\ipykernel_9764\190649179.py:37: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        1
1        1
2        1
3        1
4        1
        ..
41183    0
41184    0
41185    0
41186    0
41187    0
Name: contact_cellular, Length: 41188, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  data.iloc[:, condition:] = data.iloc[:, condition:].applymap(lambda x: 1 if x else 0)
C:\Users\chuho\AppData\Local\Temp\ipykernel_9764\190649179.py:37: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        0
1        0
2        0
3        0
4        0
        ..
41183    1
41184    1
41185    1
41186    1
41187    1
Name: contact_telephone, Length: 41188, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  data.iloc[:, condition:] = data.iloc[:, condition:].applymap(lambda x: 1 if x else 0)
C:\Users\chuho\AppData\Local\Temp\ipykernel_9764\190649179.py:37: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        0
1        0
2        0
3        0
4        0
        ..
41183    0
41184    0
41185    0
41186    0
41187    0
Name: poutcome_failure, Length: 41188, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  data.iloc[:, condition:] = data.iloc[:, condition:].applymap(lambda x: 1 if x else 0)
C:\Users\chuho\AppData\Local\Temp\ipykernel_9764\190649179.py:37: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        1
1        1
2        0
3        1
4        0
        ..
41183    1
41184    1
41185    1
41186    1
41187    1
Name: poutcome_nonexistent, Length: 41188, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  data.iloc[:, condition:] = data.iloc[:, condition:].applymap(lambda x: 1 if x else 0)
C:\Users\chuho\AppData\Local\Temp\ipykernel_9764\190649179.py:37: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        0
1        0
2        1
3        0
4        1
        ..
41183    0
41184    0
41185    0
41186    0
41187    0
Name: poutcome_success, Length: 41188, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  data.iloc[:, condition:] = data.iloc[:, condition:].applymap(lambda x: 1 if x else 0)

,age,default,housing,loan,month,day_of_week,duration,campaign,pdays,previous,...,education_basic.9y,education_high.school,education_illiterate,education_professional.course,education_university.degree,contact_cellular,contact_telephone,poutcome_failure,poutcome_nonexistent,poutcome_success
0,44,2,1,0,8,5,210,1,1,0,...,0,0,0,0,0,1,0,0,1,0
1,53,0,0,0,11,6,138,1,1,0,...,0,0,0,0,0,1,0,0,1,0
2,28,0,1,0,6,5,339,3,1,2,...,0,0,0,0,1,1,0,0,0,1
3,39,0,0,0,4,6,185,2,1,0,...,0,1,0,0,0,1,0,0,1,0
4,55,0,1,0,8,6,137,1,1,1,...,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,59,2,0,1,6,5,222,1,1,0,...,0,1,0,0,0,0,1,0,1,0
41184,31,2,0,0,5,5,196,2,1,0,...,0,0,0,0,0,0,1,0,1,0
41185,42,2,1,1,5,4,62,3,1,0,...,0,0,0,0,1,0,1,0,1,0
41186,48,0,0,1,10,3,200,2,1,0,...,0,0,0,1,0,0,1,0,1,0
41187,25,0,0,0,5,6,112,4,1,0,...,0,1,0,0,0,0,1,0,1,0

In [38]:
# Kiểm tra lại các giá trị còn tồn tại unkonwn 
unknown_values = {}
for column in data.columns:
    if 'unknown' in data[column].values:
        unknown_values[column] = data[column].value_counts()['unknown']

print("Các giá trị 'unknown' trong dữ liệu:")
for column, count in unknown_values.items():
    print(f"- {column}: {count} giá trị 'unknown'")

Các giá trị 'unknown' trong dữ liệu:

In [39]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
# Chia dữ liệu thành phần Training và phần Test theo tỷ lệ 8:2
X = data.drop(columns=['y'])  # Đặt X là tất cả các cột trừ cột y
y = data['y']  # Đặt y là cột y
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [43]:
import time
# Huấn luyện mô hình Logistic Regression với dữ liệu Training

start_time_lr = time.time()
log_reg_model = LogisticRegression(max_iter=1000)  # Khởi tạo mô hình
log_reg_model.fit(X_train, y_train)  # Huấn luyện mô hình

# Dự đoán với dữ liệu Test
y_pred = log_reg_model.predict(X_test)

end_time_lr = time.time()
lr_runtime = end_time_lr - start_time_lr

# Tính các độ đo Accuracy, precision, recall và F1-score
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

print("Logistic Regression Model:")
print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1-score:", f1)

Logistic Regression Model:
Accuracy: 0.9062879339645545
Precision: 0.6466552315608919
Recall: 0.3997879109225875
F1-score: 0.4941022280471822

In [45]:
from sklearn.naive_bayes import GaussianNB
start_time_nb = time.time()
# Sử dụng mô hình Naïve Bayes
nb_model = GaussianNB()

# Huấn luyện mô hình với dữ liệu Training
nb_model.fit(X_train, y_train)

# Dự đoán với dữ liệu Test
y_pred_nb = nb_model.predict(X_test)
end_time_nb = time.time()
nb_runtime = end_time_nb - start_time_nb

# Tính độ chính xác của mô hình Naïve Bayes
accuracy_nb = accuracy_score(y_test, y_pred_nb)

print("\nNaïve Bayes Model:")
print("Accuracy:", accuracy_nb)

Naïve Bayes Model:
Accuracy: 0.834425831512503

In [46]:


print("\nThời gian chạy (Logistic Regression):", lr_runtime)
print("Thời gian chạy (Naïve Bayes):", nb_runtime)

Thời gian chạy (Logistic Regression): 2.2625021934509277
Thời gian chạy (Naïve Bayes): 0.04521918296813965